.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(226, 247, 248);
    height: 8rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.logo {
    width: 20rem;
    height: auto;
    border-radius: 2rem;
    margin-left: 2rem;
}

.nav-menu {
    display: flex;
    margin-right: 4rem;
    list-style: none;
}

.nav-menu-item {
    font-size: 1.7rem;
    margin: 0 1rem;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    text-decoration: none;
    color: #0c0922;
    padding: 0.8rem 1.2rem;
    border-radius: 5rem;
}

